@import "tailwindcss";

@theme {
  --color-grayDefault-100: #F8F8F8;
  --color-grayDefault-600: #636364;  

  /* --color-grayInputText-100: #C4C4C400; */
  --color-grayInputText-400:#181818;

  --color-grayInputBorder-100: #00000040;
  --color-blueButton-100: #007AFF;
  --color-blueButton-200: #003aff;
 

  --color-neutralDashboard-100: #2B3A4B;
  --color-neutralDashboard-700: #858C94;
  --color-neutralDashboard-800: #EBEEF2;

  --color-graySecondary-300:  #F4F7FE;
  --color-graySecondary-600: #A3AED0;
  --color-darkgraySecondary-900: #1B2559;
  

 
 
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
